 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001a49;

}

.separador{
    margin: 3%;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{ 

    /* border-style: groove; /*Els borders de tots els containers */

    width: 90%;
    max-width: 1200;
    margin: 0 auto;
    overflow: hidden;
    /*background-color: #000;*/
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600; /* Aquesta resolucio es per a la gent amb i-pad*/
    max-height: 800; /* Aquesta resolucio es per a la gent amb i-pad*/
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{

    content:"";
    position: absolute; /*Per a que es posicione absolutament al seu pare hero*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/pc.png');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    z-index: -1;
}   

.acerca::before{
    content:"";
    position: absolute; /*Per a que es posicione absolutament al seu pare hero*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/favicon.png');
    background-size: cover;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 55% 50%, 100% 100%, 0 100%, 45% 50%);
}

.nav{
    --padding-container:0;
    height: 100%;
    display: flex; 
    align-items: center;
}

.nav__title{
    font-weight: 300;
}


.nav__links{
    color:#fff;
    text-decoration: none;
}

.nav__items{
    list-style: none;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;

}


.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__image{
    display: block;
    width: 30px;

}

.nav__close{
    display: var(--show, none) ;
}

/*Hero Container*/

.hero__container{
    max-width: 800;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    margin-bottom: 20px;
}

.contact{
    margin-top: 3%;
    display:inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
.cta{
    
    display:inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */

.about{
    text-align: center;
    
}

.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{

    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-color: #444cf7;
    border-width: 5px;
    border-style: inherit;
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: visible;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons, .about__icons2, .about__icons3, .about__icons4, .about__icons5, .about__icons6, .about__icons7{
    margin: 20px;
    max-width: 300;
    max-height: 120;
}

.about__icons{

    
    animation: animateLight 3s infinite linear;
    border: 2px solid;
    padding: 10px;
    margin: 20px;
    text-wrap: balance;
    display: inline-block;
    gap: 1em;
    justify-items: center;
    
}
@keyframes animateLight {
    0% {
        border-color: purple; /* Color del borde al inicio de la animación */
    }
    25% {
        border-color: blue; /* Color del borde al 25% de la animación */
    }
    50% {
        border-color: blue; /* Color del borde al 25% de la animación */
    }
    100% {
        border-color: purple; /* Color del borde al 25% de la animación */
    }
}

.about__icons2{
    animation: animateLight2 3s infinite linear;
    border: 2px solid;
    padding: 10px;
    margin: 20px;
    text-wrap: balance;
    display: inline-block;
    gap: 1em;
    justify-items: center;
}
@keyframes animateLight2 {
    0% {
        border-color: orangered; /* Color del borde al inicio de la animación */
    }
    25% {
        border-color: rgb(153, 10, 10); /* Color del borde al inicio de la animación */
    }
    50% {
        border-color: rgb(153, 10, 10); /* Color del borde al inicio de la animación */
    }
    100% {
        border-color: orangered; /* Color del borde al 25% de la animación */
    }
}

.about__icons3{
    animation: animateLight3 3s infinite linear;
    border: 2px solid;
    padding: 10px;
    margin: 20px;
    text-wrap: balance;
    display: inline-block;
    gap: 1em;
    justify-items: center;
    
}
@keyframes animateLight3 {
    0% {
        border-color: green; /* Color del borde al inicio de la animación */
    }
    25% {
        border-color: rgb(40, 54, 18); /* Color del borde al 25% de la animación */
    }
    50% {
        border-color: rgb(40, 54, 18); /* Color del borde al 25% de la animación */
    }
    100% {
        border-color: green; /* Color del borde al inicio de la animación */
    }
}

.about__icons4{
    animation: animateLight4 3s infinite linear;
    border: 2px solid;
    padding: 10px;
    margin: 20px;
   
    text-wrap: balance;
    display: inline-block;
    gap: 1em;
    justify-items: center;
    
    overflow: hidden;
}
@keyframes animateLight4 {
    0% {
        border-color: rgb(73, 129, 129);/* Color del borde al inicio de la animación */
    }
    25% {
        border-color: mediumseagreen;/* Color del borde al 25% de la animación */
    }
    50% {
        border-color: mediumseagreen;/* Color del borde al 25% de la animación */
    }
    100% {
        border-color: rgb(73, 129, 129); /* Color del borde al inicio de la animación */
    }
}

.about__icons5{
    animation: animateLight5 3s infinite linear;
    border: 2px solid;
    padding: 10px;
    margin: 20px;
    text-wrap: balance;
    display: inline-block;
    gap: 1em;
    justify-items: center;
    
}
@keyframes animateLight5 {
    0% {
        border-color: brown;/* Color del borde al inicio de la animación */
    }
    25% {
        border-color: olivedrab;/* Color del borde al 25% de la animación */
    }
    50% {
        border-color: olivedrab;/* Color del borde al 25% de la animación */
    }
    100% {
        border-color: brown; /* Color del borde al inicio de la animación */
    }
}

.about__icons6{
    animation: animateLight6 3s infinite linear;
    border: 2px solid;
    padding: 10px;
    margin: 20px;
    text-wrap: balance;
    display: inline-block;
    gap: 1em;
    justify-items: center;
    
}
@keyframes animateLight6 {
    0% {
        border-color: #001a49; /* Color del borde al inicio de la animación */
    }
    25% {
        border-color: rgb(40, 54, 18); /* Color del borde al 25% de la animación */
    }
    50% {
        border-color: rgb(40, 54, 18); /* Color del borde al 25% de la animación */
    }
    100% {
        border-color: #001a49; /* Color del borde al inicio de la animación */
    }
}

.about__icons7{
    animation: animateLight6 3s infinite linear;
    border: 2px solid;
    padding: 10px;
    margin: 20px;
    text-wrap: balance;
    display: inline-block;
    gap: 1em;
    justify-items: center;
    
}
@keyframes animateLight7 {
    0% {
        border-color: seagreen; /* Color del borde al inicio de la animación */
    }
    25% {
        border-color: crimson; /* Color del borde al 25% de la animación */
    }
    50% {
        border-color: crimson; /* Color del borde al 25% de la animación */
    }
    100% {
        border-color: seagreen; /* Color del borde al inicio de la animación */
    }
}

.about__icon{
    width: 40px;
}

.about__title{
    margin: 3%;
    -webkit-text-fill-color: #001a49;
    -webkit-text-stroke: 3px color(srgb red green blue);
}

.container__about{
    display: flex;
}


/* Knowledge */

.knowledge{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 400px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    margin-left: 10%;
    width: 100%;
    display: block;
}

